 .key-focus img{
    width: 100%;
 }
  
    @keyframes slideInFromTop {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    .h1-animation {
        animation: slideInFromTop 1s ease-out;
        animation-fill-mode: forwards; /* Ensure the element stays in the final state */
    }
    
 .key img{
    width: 100%;
 }