.about-us{
  /* height: 100vh; */
  width: 100;
}

.about-us img{
  width: 100%;
}
 .btn{
  /* padding-left: 350px; */
  margin-left: 600px;
  padding: 10px;
  background-color: green;
  color: white;
  border: 2px solid black;
 }