.project-section {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding: 20px; /* Added padding for better spacing */
}

.project-top {
  background: linear-gradient(90deg, black, #3533cd);
  text-align: center;
  padding: 20px; /* Added padding for better spacing */
}

.project-top h1 {
  padding-top: 20px; /* Reduced padding for better fit on smaller screens */
  color: white !important;
}

.project-header {
  text-align: center;
  margin-bottom: 20px; /* Reduced margin for better fit on smaller screens */
}

.project-header h2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #555;
}

.project-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-gallery p {
  color: white;
  padding-top: 0;
  
}

.project-box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 30%;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive design for tablets and smaller screens */
@media (max-width: 768px) {
  .project-box {
    width: 45%;
  }

  .project-header {
    margin-bottom: 30px; /* Adjusted margin for better fit */
  }

  .project-header h2 {
    font-size: 1.2rem; /* Adjusted font size for better readability */
  }
}

/* Responsive design for mobile devices */
@media (max-width: 480px) {
  .project-box {
    width: 100%;
  }

  .project-gallery {
    flex-direction: column;
    align-items: center;
  }

  .project-box {
    margin-bottom: 20px;
  }

  .project-top h1 {
    font-size: 1.8rem; /* Adjusted font size for better readability */
  }

  .project-header h2 {
    font-size: 1rem; /* Adjusted font size for better readability */
  }
}
